.o{
    &-button-link{
        
        text-decoration: none;

        /*
          Fondos Claros
        */
        &-light,&-dark{
            
            border-radius: 6px;
            display: inline-block;
            font-family: 'VW Text';
            font-size: 0.875rem;
            min-width: 130px;
            margin: 14px 0px;
            padding: 7px 14px;
            line-height: 20px;


            &__imagen{
                height: 21px;
                margin-right: 8px;
            }
        }
       
        &-light{

            background: $btn-light-background;
            color:$btn-light-color;

            &:hover{
                background: $btn-light-background-hover;
                color:$btn-light-color-hover;
            }
    
        }



    
    }

}