.c{
    &-nota{

        &__title
        {
             background:#006384;
             color:#fff;
             font-family: "VW Head Bold";
             font-size:calculateRem(18px);
             padding:10px 22px;
             text-align: center;

        }

    }
}